$grey: #4F5665;
$darkBlue: #0B132A;
$red: #F53838;
$lightGrey: #F6F6F6;

$primaryFontBold: 'Rubik bold';
$primaryFontMedium: 'Rubik medium';
$primaryFontRegular: 'Rubik regular';
$primaryFontSemiBold: 'Rubik semiBold';

// breakpoint variables
$xxl: 1610px;
$xl: 1450px;
$lg: 1210px;
$md: 1034px;
$sm: 810px;
$xs: 490px;