@font-face {
    font-family: Rubik bold;
    font-display: auto;
    src: local('Rubik bold'), url('../fonts/Rubik-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: Rubik medium;
    font-display: auto;
    src: local('Rubik medium'), url('../fonts/Rubik-Medium.ttf');
    font-style: normal;
}
  
@font-face {
    font-family: Rubik regular;
    font-display: auto;
    src: local('Rubik regular'), url('../fonts/Rubik-Regular.ttf');
    font-style: normal;
}
  
@font-face {
    font-family: Rubik semiBold;
    font-display: auto;
    src: local('Rubik semiBold'), url('../fonts/Rubik-SemiBold.ttf');
    font-style: normal;
}