@import './fonts.scss';
@import './constants.scss';
@import './mixins.scss';
@import './navbar.scss';
@import './content.scss';
@import './plans.scss';
@import './network.scss';
@import './subscribe.scss';
@import './footer.scss';
@import './carousel.scss';

.home-section{
    margin-top: 45px;
}

.tarif-plans{
    background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
    padding: 100px 0 150px;
    @media(max-width: $lg){
        padding: 80px 0 130px;
    }
    @media(max-width:$sm){
        padding-bottom: 70px;
    }
}

.partners{
    text-align: center;
    img{
        margin-right: 47px;
        @media(max-width: $lg){
            width: 15%;
            margin-right: 30px;
        }
    }
}

.subscribe{
    position: relative;
    bottom: -110px;
    @media(max-width: $lg){
        bottom: -90px;
    }
}

.carousel{
    padding: 60px 0 0;
    &-descr{
        text-align: center;
        width: 60%;
        margin: 0 auto;
        h2{
            @include h2;
        }
        &__title{
            font-size: 16px;
            line-height: 30px;
            color: $grey;
            font-family: $primaryFontMedium;
            @media(max-width: $lg){
                font-size: 14px;
                line-height: 25px;
            }
        } 
    }
    @media(max-width: $lg){
        padding: 40px 0 0;
    }
}

footer{
    background-color: #F8F8F8;
    padding: 180px 0 100px;
    .container{
        @include flex-row;
        justify-content: space-between;
        @media(max-width:$xs){
            @include flex-column;
        }
    }
    @media(max-width: $lg){
        padding: 140px 0 80px;
    }
}

.container{
    @media (max-width:$lg){
        width: 80% !important;
    }
}