.navbar{
    &-points{
        @include flex-row;
        &__point{
            @include navbar-point;
            margin-left: 40px;
            &:hover{
                color: $darkBlue;
                font-family: $primaryFontSemiBold;
                cursor: pointer;
            }
            @media (max-width: $lg) {
                font-size: 14px;
                line-height: 16px;
                margin-left: 20px;
            }
        }
        @media(max-width:$md){
            display: none;
        } 
    }
    &-button{
        @include flex-row;
        align-items: center;
        .btn-outline-primary{
            @include btn-primary-outline;
        }
        .btn-outline-primary:hover{
            @include  btn-primary-outline-hover;
        }
        &__btn{
            font-size: 16px;
            line-height: 19px;
            font-family: $primaryFontSemiBold;
            padding-right: 30px;
            &:hover{
                color: $red;
                cursor: pointer;
            }
            @media(max-width:$xs){
                padding-right: 10px !important;
                font-size: 14px !important;
                line-height: 18px !important;  
            }
        }
    }
    img.burger{
        display: none;
        @media(max-width:$md){
            display: block;
        }
    }
    &-logo{
        img{
            width: 100%;
        }
        @media(max-width: $xs){
            width: 25%;
        }
    }
} 