<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
        <div class="carousel-item active">
            .carousel-item-card 
                .carousel-item-card__info 
                    .carousel-item-card__title 
                        img(src="../img/user1.png", alt="user-photo")
                        .carousel-item-card__title-name 
                            h4 Viezh Robert
                            .carousel-item-card__title-country Warsaw, Poland
                    .carousel-item-card__rating
                        .carousel-item-card__rating-title 4.5
                        img(src="../img/rating.png", alt="rating")
                .carousel-item-card__descr  “Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN always the best”.        
        </div>
        <div class="carousel-item">
           .carousel-item-card 
                .carousel-item-card__info 
                    .carousel-item-card__title 
                        img(src="../img/user2.png", alt="user-photo")
                        .carousel-item-card__title-name 
                            h4 Yessica Christy
                            .carousel-item-card__title-country Shanxi, China
                    .carousel-item-card__rating
                        .carousel-item-card__rating-title 4.5
                        img(src="../img/rating.png", alt="rating")
                .carousel-item-card__descr “I like it because I like to travel far and still can connect with high speed.”.          
        </div>
        <div class="carousel-item">
           .carousel-item-card 
                .carousel-item-card__info 
                    .carousel-item-card__title 
                        img(src="../img/user3.png", alt="user-photo")
                        .carousel-item-card__title-name 
                            h4 Kim Young Jou
                            .carousel-item-card__title-country Seoul, South Korea
                    .carousel-item-card__rating
                        .carousel-item-card__rating-title 4.5
                        img(src="../img/rating.png", alt="rating")
                .carousel-item-card__descr “This is very unusual for my business that currently requires a virtual private network that has high security.”.        
        </div>
        <div class="carousel-item">
           .carousel-item-card 
                .carousel-item-card__info 
                    .carousel-item-card__title 
                        img(src="../img/user3.png", alt="user-photo")
                        .carousel-item-card__title-name 
                            h4 Kim Young Jou
                            .carousel-item-card__title-country Seoul, South Korea
                    .carousel-item-card__rating
                        .carousel-item-card__rating-title 4.5
                        img(src="../img/rating.png", alt="rating")
                .carousel-item-card__descr “This is very unusual for my business that currently requires a virtual private network that has high security.”.        
        </div>
  </div>
  <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
    .carousel-control
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
        </button>
</div>