.content    
    .content-descr 
        h1 Want anything to be easy with 
            b LaslesVPN.
        .content-descr__title Provide a network for all your needs with ease and fun using 
            b LaslesVPN 
            |discover interesting features from us.
        .content-descr__button
            <button type="button" class="btn btn-primary">Primary</button>
    .content-picture 
        img(src="../img/content1.png", alt="user-picture")
.advantages 
    .advantage 
        .advantage-picture 
            img(src="../img/user.png", alt="user-icon")
        .advantage-descr 
            h3 90+
            .advantage-descr__title Users
    img(src="../img/line.png", alt="line-bg")
    .advantage 
        .advantage-picture 
            img(src="../img/map.png", alt="map-icon")
        .advantage-descr 
            h3 90+
            .advantage-descr__title Users
    img(src="../img/line.png", alt="line-bg")
    .advantage 
        .advantage-picture 
            img(src="../img/server.png", alt="server-icon")
        .advantage-descr 
            h3 90+
            .advantage-descr__title Users
.content    
    .content-picture 
        img(src="../img/content2.png", alt="user-picture")
    .content-descr 
        h2 We Provide Many Features You Can Use
        .content-descr__title You can explore the features that we provide with fun and have their own functions each feature.
        ul 
            li Powerfull online protection.
            li Internet without borders.
            li Supercharged VPNs
            li No specific time limits.