.footer-info 
    img(src="../img/Logo (1).png", alt="logo")
    .footer-info__title 
        b LaslesVPN 
        |is a private virtual network that has unique features and has high security.
    .footer-info__social 
        img(src="../img/Facebook.png", alt="fb")
        img(src="../img/Twitter.png", alt="tw")
        img(src="../img/Instagram.png", alt="inst")
    .footer-info__item ©2020Lasles
        b VPN
.footer-links 
    .footer-links__info 
        h4 Product
        ul 
            li Download 
            li Pricing
            li Locations
            li Server
            li Countries
            li Blog
    .footer-links__info 
        h4 Engage
        ul 
            li LaslesVPN ? 
            li FAQ
            li Tutorials
            li About Us
            li Privacy Policy
            li Terms of Service
    .footer-links__info 
        h4 Earn Money
        ul 
            li Affiliate
            li Become Partner