nav.navbar 
    .navbar-logo 
        img(src="../img/Logo (1).png", alt="logo")
    .navbar-points 
       .navbar-points__point About
       .navbar-points__point Features
       .navbar-points__point Pricing
       .navbar-points__point Testimonials
       .navbar-points__point Help
    .navbar-button
        .navbar-button__btn Sign In
        <button type="button" class="btn btn-outline-primary">Sign Up</button>
    img.burger(src="../img/burger.png", alt="burger")