.network-map
    h2 Huge Global Network of Fast VPN
    .network-map__title See 
        b LaslesVPN 
        | everywhere to make it easier for you when you move locations.
    img(src="../img/Huge Global.png", alt="maps")
