.plans-item
    h2 Choose Your Plan
    .plans-item__title Let's choose the package that is best for you and explore it happily and cheerfully.
.plans-descr 
    .plans-descr-plan
        .plans-descr-plan__item
            img(src="../img/box.png", alt="box")
            h4 Free Plan
            ul 
                li Unlimited Bandwitch
                li Encrypted Connection
                li No Traffic Logs
                li Works on All Devices
        .plans-descr-plan-title
            .plans-descr-plan-title__price
                h3 Free
            .plans-descr-plan__button
                <button type="button" class="btn btn-outline-primary">Select</button>
    .plans-descr-plan
        .plans-descr-plan__item
            img(src="../img/box.png", alt="box")
            h4 Standard Plan
            ul 
                li Unlimited Bandwitch
                li Encrypted Connection
                li Yes Traffic Logs
                li Works on All Devices
                li Connect Anyware
        .plans-descr-plan-title
            .plans-descr-plan-title__price    
                h3 $9
                p / mo
            .plans-descr-plan__button
                <button type="button" class="btn btn-outline-primary">Select</button>
    .plans-descr-plan
        .plans-descr-plan__item
            img(src="../img/box.png", alt="box")
            h4 Premium Plan
            ul 
                li Unlimited Bandwitch
                li Encrypted Connection
                li No Traffic Logs
                li Works on All Devices
                li Connect Anyware
                li Get New Features
        .plans-descr-plan-title
            .plans-descr-plan-title__price    
                h3 $12
                p / mo
            .plans-descr-plan__button
                <button type="button" class="btn btn-outline-primary">Select</button>