.subscribe-descr 
    .subscribe-descr-item 
        h2 Subscribe Now for Get Special Features!
        .subscribe-descr-item__title Let's subscribe with us and find the fun.
    .subscribe-descr-button 
         <button type="button" class="btn btn-primary">Subscribe Now</button>        